<%- include('./head') %>

<main>
    <section><h1><%= method.title %></h1></section>

    <section class="method-info">
        <div class="method-categories">
        <ul>
            <li><i class="fa-solid fa-sitemap"></i> organiseren </li>
            <li><i class="fa-solid fa-users"></i> leren over anderen </li>
            <li><i class="fa-solid fa-hourglass-half"></i> <%= method.duration %></li>
            <li><i class="fa-solid fa-pen-to-square"></i> <%= method.material %> </li>
        </ul>

        </div>
        <div class="method-info-text">
            <%- method.description.html %>
             <div class="method-steps">
               <% method.steps.forEach(step => { %>
                <h3><%= step.title %></h3>
                 <%- step.description.html %>
                <% }) %>    
             </div>
        </div>


        <div class="carousel">
    
        </div>
        <form class="leave-comment">
         <button class="like-button"> comment <i class="fa-solid fa-comment"></i> </button>
         <textarea></textarea>
         <input type="button">
         </form>
    </section>

</main>
<%- include('./foot') %>