<%- include('./head') %>

<main>
    <section><h1><%= method.title %></h1></section>

    <section class="method-info">
        <div class="method-categories">
        <ul>
            <li><i class="fa-solid fa-sitemap"></i> organiseren </li>
            <li><i class="fa-solid fa-users"></i> leren over anderen </li>
            <li><i class="fa-solid fa-hourglass-half"></i> <%= method.duration %></li>
            <li><i class="fa-solid fa-pen-to-square"></i> <%= method.material %> </li>
        </ul>

        </div>
        <div class="method-info-text">
            <%- method.description.html %>
             <div class="method-steps">
               <% method.steps.forEach(step => { %>
                <h3><%= step.title %></h3>
                 <%- step.description.html %>
                <% }) %>    
             </div>
        </div>

        <!-- test -->
        <form action="/detailpagina/<%= method.slug %>" method="post">
            <% if(locals.error !==undefined){ %>
                <p class="message">
                    <%= error %>
                </p>
                <% } %>

                    <fieldset>
                        <h3>comment</h3>

                        <label for="author">Naam</label>
                        <input required type="text" name="author" id="author" placeholder="..." />

                        <label for="text">Jouw comment</label>
                        <input required type="text" name="text" id="text" placeholder="..." />

                        <label for="methodId"></label>
                        <input type="hidden" name="methodId" id="methodId" value="<%= method.id %>" />

                        <input class="submit-button" type="submit" value="Verzend" />
                    </fieldset>
        </form>

    
      
    </section>

</main>
<%- include('./foot') %>