<%- include('./head') %>


<main>
    <section><h1>Werkvormen </h1></section>


    <section class="searchbar-container">
    <div class="searchbar">
         <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
         <input type="text" placeholder="zoeken..">
    </div>
    </section>
    
    <section class="line"></section>

    <section class="filter-container">
     <a href="////"><i class="fa-solid fa-sliders"></i></a>
    </section>


    <section class="method-container">
      <% methods.forEach(method=> { %>
        <article class="method-card"> 
            <a href="./detailpagina"><h2><%= method.title %></h2></a>
             <img class="method-img" src="<%= method.template?.url %>">
          <% method.categories.forEach(categorie=> { %>
           <!-- <div class="tags"><p> <%= categorie.title %></p></div> -->
        </article> 
      <% }) %>
      <% }) %>

    </section>

</main>


<%- include('./foot') %>