<%- include('./head') %>


<main>
    <section><h1>Werkvormen </h1></section>


    <section class="searchbar-container">
    <div class="searchbar">
      <form>
         <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
         <input type="text" placeholder="zoeken..">
      </form>
    </div>
    </section>
    
    <section class="line"></section>

    <section class="filter-container">
     <button><i class="fa-solid fa-sliders"></i></button>
    </section>


    <section class="method-container">
      <% methods.forEach(method=> { %>
        <article class="method-card">
          <a href="./detailpagina/<%= method.slug %>?id=<%= method.id %>">
           <% if (method.template?.url) { %> 
            <img class="method-img" src="<%= method.template?.url %>">
           <% } else { %>
            <img src="/placeholder.jfif" alt="Placeholder" />
           <% } %>
            <h2><%= method.title %></h2>
         </a>
        </article> 
      <% }) %>
      

    </section>

</main>


<%- include('./foot') %>